# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node
frontend/node_modules/
frontend/build/
frontend/dist/

# SQLite
*.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode
.vscode/


databases

data/dbdes*